
@{
    ViewBag.Title = "Ejercicio10";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicio10</title>
</head>
<body>

    <form action="" method="get">

        <h1>Formulario de Registro</h1>
		<br>
        <label for=" =" nombre>Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="" />
		</br>
        <br>
            <label for=" =" Apellidos>Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" value="" />
		</br>
        <br>
            <label for=" " Sexo>Sexo:</label>
            <input type="radio" id="hombre " value="Hombre" name="gender" /> Hombre
            <input type="radio" id="mujer " value="Mujer" name="gender" /> Mujer
			</br>
        <br>

            <label for="=" Email>Email</label>
            <input type="email" id="email" value="" />
			</br>
        <br>


            <select id="Poblacion" name="Poblacion">
                <option value="Alicante">Alicante</option>
                <option value="Madrid">Madrid</option>
                <option value="Sevilla">Sevilla</option>
                <option value="Valencia">Valencia</option>

            </select>
			</br>
        <br>
            <textarea name="message" style="width:200px; height:300px;"></textarea>

			</br>
        <br>
            <input type="checkbox" name="checkbox" id="checkbox1" />
            <label for=" checkbox">Deseo recibir informacion sobre novedades y ofertas</label>
			</br>
        <br>
            <input type="checkbox" name="checkbox" id="checkbox2" />
            <label for=" checkbox">Declaro haber leido y aceptar las condiciones generales del programa y la normativa sobre protección de datos</label>
			</br>

        <br>
            <input type="submit" value=" Enviar" />
			</br>
</body>
</html>

       

  
		

		
    
</body>
</html>