
@{
    ViewBag.Title = "Ejercicio11";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicio1</title>
</head>
<body>
    <form action="" method="get">

        <br>

        <label for=" =" nombre>Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="" />

        </br>

        <br>

        <label for="=" Email>Email</label>
        <input type="email" id="email" value="" />
        </br>
        <br>

        <label for=" =" nombre>URL:</label>
        <input type="text" id="URL" name="URL" value="" />

        </br>
        <br>

        <label for="Fecha">Fecha:</label>
        <input type="date" id="Fecha" name="Fecha">
        </br>
        <br>

        <label for="Tiempo">Tiempo:</label>
        <input type="time" id="Tiempo" name="Tiempo">
        </br>
        <br>

        <label for="FechayHora">Fecha y Hora:</label>
        <input type="datetime" id="FechaYHora" name="Fecha y Hora">
        </br>
        <br>

        <label for="Semana">Semana:</label>
        <input type="week" id="Semana" name="Semana">
        </br>
        <br>
        <label for="Numero">Numero min :0 - max:10 :</label>
        <input type="number" id="Numero" name="Numero" min="0" max="10">
        </br>
        <br>

        <label for=" =" nombre>Telefono:</label>
        <input type="tel" id="telefono" name="telefono" value="" />
        </br>

        <br>

        <label for=" =" nombre>Termino de Busqueda:</label>
        <input type="search" id="TerminoBusqueda" name="TerminoBusqueda" value="" />
        </br>
        <br>

        <label for=" " nombre> Mes: </label>
        <select id="Mes" name="Mes">

            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
            <option value="Abril">Abril</option>
            <option value="Mayo">Mayo</option>
            <option value="Junio">Junio</option>
            <option value="Julio">Julio</option>
            <option value="Agosto">Agosto</option>
            <option value="Septiembre">Septiembre</option>
            <option value="Octubre">Octubre/option>
            <option value=">Noviembre">Noviembre</option>
            <option value="Diciembre">Diciembre</option>
        </select>

        </br>
        <br>
        <label for="Color">Color:</label>
        <input type="color" id="Color" name="Color">
        </br>

        <br>
        <input type="submit" value=" Enviar" />
</body>
</html>


