
@{
    ViewBag.Title = "Index";
}

<h2>Index Java Script</h2>

<div>
    <input id="btnprueba" class="button" type="button" value="Ver Prueba" onclick="variableprueba()"/>

</div>

@section scripts
{

<script>
    function variableprueba()

    {
        var prueba;
        windows.alert(modelo);


    }



    </script>    
    
    
    
}